@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "League Spartan", sans-serif;
  }
}

.hero-heading {
  font-size: clamp(3.5rem, 15vw + 1rem, 13rem);
  font-weight: 700;
  letter-spacing: 5px;
  transform: translateY(-50%);
}

/* slightly transparent fallback */
.glass-container {
  background-color: rgba(255, 255, 255, 0.7);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .glass-container {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
